<p id="notice"><%= notice %></p>

<h1>Favorites Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites_lists.each do |favorites_list| %>
      <tr>
        <td><%= favorites_list.name %></td>
        <td><%= link_to 'Show', favorites_list %></td>
        <td><%= link_to 'Edit', edit_favorites_list_path(favorites_list) %></td>
        <td><%= link_to 'Destroy', favorites_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorites List', new_favorites_list_path %>
